body {
    overflow: hidden;
}

.checkbox {
    color: white;
    font-size: 10px;
    margin-bottom: 15px !important;
    padding-right: 5px;
}
.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.table-listing {
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    max-height: 490px;
    overflow: auto;
}

/* Style for left and right tables*/
.new-entries {
    margin-top: 100px;
}

.current-collection {
    margin-top: 100px;
}

.modal {
    overflow: hidden;
}

.modal-tr {
    width: 100px;
}

.editable-click {
    border-bottom: none !important;
}

.search-input {
    width: 200px;
}
