body {
    overflow: hidden;
}

.checkbox {
    color: white;
    font-size: 12px;
    margin-bottom: 15px !important;
    padding-right: 5px;
}

.table-listing {
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    max-height: 490px;
    overflow: auto
}

.comic-total {
    background-color: #428bca !important;
}

.pointer {
    cursor: pointer;
}

/* Style for left and right tables*/
.new-entries {
    float: left;
}

.current-collection {
    float: right;
}

.modal {
    overflow: hidden;
}

.modal-tr {
    width: 100px;
}

.editable-click {
    border-bottom: none !important;
}

.search-input {
    width: 200px;
}

.current-entrie-table {
    margin-top: 5px;
}

.new-entrie-table {
    margin-top: 5px;
}
