<!--nav bar start-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">C.I.A.</a>
        </div>
        <form class="navbar-form navbar-left" id="addItem">
            <div class="form-group input-group-sm">
                <input type="text" pattern="^[a-zA-Z]+$" ng-model="publisher" class="form-control" placeholder="Publisher">
                <input type="text" pattern="^[a-zA-Z]+$" ng-model="title" class="form-control" placeholder="Title">
                <input type="text" pattern="\d*" ng-model="booknum" class="form-control" placeholder="Book #">
                <input type="text" pattern="^[a-zA-Z]+$" ng-model="writer" class="form-control" placeholder="Writer">
                <input type="text" pattern="^[a-zA-Z]+$" ng-model="artist" class="form-control" placeholder="Artist">
            </div>
            <input type="submit" class="btn btn-sm" value="Add Comic" ng-click="addBook()">
            <label class="checkbox"><input type="checkbox" ng-click='hideArtist=!hideArtist'>Hide Artist</label>
            <label class="checkbox"><input type="checkbox" ng-click='hideTitle=!hideTitle'>Hide Title</label>
        </form>
    </div>
</div>
<div class="table-listing table-responsive" ng-controller="getComics">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Publisher
                </th>
                <th ng-if='hideTitle'>
                    Title
                </th>
                <th>
                    Book #
                </th>
                <th>
                    Writer
                </th>
                <th ng-if='hideArtist'>
                    Artist
                </th>
            </tr>
        </thead>
        <tbody ng-repeat="comic in data">
            <tr>
                <td> {{$index+1}} </td>
                <td> {{comic.publisher}} </td>
                <td ng-if='hideTitle'> {{comic.title}} </td>
                <td> {{comic.booknum}} </td>
                <td> {{comic.writer}} </td>
                <td ng-if='hideArtist'> {{comic.artist}} </td>
            </tr>
        </tbody>
    </table>
</div>
