<!--nav bar start-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">C.I.A.</a>
        </div>
        <form class="navbar-form navbar-left" id="addItem">
            <div class="form-group input-group-sm">
                <input type="text" pattern="^[a-zA-Z]+$" ng-model="publisher" class="form-control" placeholder="Publisher">
                <input type="text" pattern="^[a-zA-Z]+$" ng-model="title" class="form-control" placeholder="Title">
                <input type="text" pattern="\d*" ng-model="booknum" class="form-control" placeholder="Book #">
                <input type="text" pattern="^[a-zA-Z]+$" ng-model="writer" class="form-control" placeholder="Writer">
                <input type="text" pattern="^[a-zA-Z]+$" ng-model="artist" class="form-control" placeholder="Artist">
            </div>
            <input type="submit" class="btn btn-sm" value="Add Comic" ng-click="addBook()">
            <br>
            <label class="checkbox"><input type="checkbox" ng-click='hideArtist=!hideArtist'>Hide Artist</label>
            <label class="checkbox"><input type="checkbox" ng-click='hideWriter=!hideWriter'>Hide Writer</label>
        </form>
    </div>
</div>
<div class="col-xs-6 new-entries">
    <h4>New Entries</h4>
   
    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
          Edit
    </button>

    <div class="table-listing table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Publisher
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Book #
                    </th>
                    <th ng-if='hideWriter'>
                        Writer
                    </th>
                    <th ng-if='hideArtist'>
                        Artist
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="comic in comics">
                <tr>
                    <td> {{$index+1}} </td>
                    <td> {{comic.publisher}} </td>
                    <td> {{comic.title}} </td>
                    <td> {{comic.booknum}} </td>
                    <td ng-if='hideWriter'> {{comic.writer}} </td>
                    <td ng-if='hideArtist'> {{comic.artist}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-xs-6 current-collection">
    <h4>Current Collection</h4>
    <div class="table-listing table-responsive" ng-controller="getComics">
        <table id="maintable" class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Publisher
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Book #
                    </th>
                    <th ng-if='hideWriter'>
                        Writer
                    </th>
                    <th ng-if='hideArtist'>
                        Artist
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="comic in comics">
                <tr>
                    <td> {{$index+1}} </td>
                    <td> {{comic.publisher}} </td>
                    <td> {{comic.title}} </td>
                    <td> {{comic.booknum}} </td>
                    <td ng-if='hideWriter'> {{comic.writer}} </td>
                    <td ng-if='hideArtist'> {{comic.artist}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div ng-controller="delete">
            <div class="table-listing table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Publisher
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Book #
                            </th>
                            <th>
                                Writer
                            </th>
                            <th>
                                Artist
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="comic in comics">
                        <tr>
                            <td> {{$index+1}} </td>
                            <td> {{comic.publisher}} </td>
                            <td> {{comic.title}} </td>
                            <td> {{comic.booknum}} </td>
                            <td> {{comic.writer}} </td>
                            <td> {{comic.artist}} </td>
                            <td> 
                                <button type="button" class="btn btn-default btn-xs" ng-click='remove(item)'>
                                  <span class="glyphicon glyphicon-remove"> Delete</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
